/* css alura challenge  */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

#btnD:hover, #btnE:hover, #btnC:hover {
  background-color:  #33ceff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (min-width: 800px) {

body {

width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
}

#logo {
	height: 48px;
	width: 120px;
	left: 40px;
	top: 40px;
	border-radius: 0px;
}

#txtIngreso {
		/* Ingrese el texto aqui */


	position: absolute;
	width: 577px;
	height: 48px;
	left: 240px;
	top: 168px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	/* identical to box height, or 48px */


	/* Dark blue/dark-blue-300 */

	color: #0A3871;


}

.mnj {
		/* Frame 5 */


	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 336px;
	height: 122px;
	left: 1032px;
	top: 619px;
}

#txt {
	/* Ingresa el texto que desees encriptar o desencriptar. */


position: absolute;
width: 336px;
height: 48px;
left: 0px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;





}

.btnBox{
	/* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;

}

#btnE{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 328px;
height: 67px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */


}

#btnD{
	/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 328px;
height: 67px;
left: 352px;
top: 0px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

/* Inside auto layout */


margin: 0px 24px;

}

.txtDes{
	/* Button */


position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;





}

.txtEn{
	position: static;
width: 280px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */


}

.adv{
	/* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 851px;
}

.bi bi-exclamation-circle-fill{

position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;
}

.txtI{
	/* Solo letras minúsculas y sin acentos */


position: absolute;
width: 350px;
height: 18px;
left: 24px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;

opacity: 0.8;


}

.rect {
	/* Rectangle 1 */


position: relative;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

#muneco{
	/* Muñeco */


position: absolute;
width: 336px;
height: 304px;
left: 1032px;
top: 283px;
}
#noencontrado{

	/* Frame 5 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 619px;
}

.txtnoencontrado{
	/* Ingresa el texto que desees encriptar o desencriptar. */


position: absolute;
width: 336px;
height: 48px;
left: 0px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

}

.txtingresatxt{

	/* Ningún mensaje fue encontrado */


position: absolute;
width: 336px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;




}

footer {
	z-index: -1;
	height: 3%;
	padding: 1%;
  background-color: #b4bfe7;
  position: relative;
 bottom:  -4%;
  width: 100%;
  color: white;
}

#frame3{
	/* Frame 3 */
	z-index: 1;

position: absolute;
width:  300px;
height: 300px;
top: 72px;
left: 0;
right: 0;
bottom: 0;
margin-left: auto;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


/* Gray/gray-400 */

color: #495057;

}

#btnC{
	/* Button */

position: absolute;
width: 336px;
height: 67px;


left: 0;
right: 0;

margin-left: 10%;
bottom: 85px;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

}

.txtCo{




font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */


}

#txtA{
	position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


color: #0A3871;
}

} /*fin media screen pc*/

@media screen and (max-width: 799px) and (min-width: 401px){
body {

width: 768px;
height: 1174px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
}

#logo {
/* Group 3 */


position: relative;
width: 50px;
height: 50px;
left: 40px;

}

#txtIngreso {
position: relative;
width: 688px;
height: 48px;
left: 40px;
top: 10px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;

}


.btnBox{
/* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 688px;
height: 67px;
left: 40px;
top: 600px;


}

#btnE{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: absolute;
width: 332px;
height: 67px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */




}

#btnD{
/* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: absolute;

width: 332px;
height: 67px;
left: 356px;
top: 0px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;



}

.txtDes{
position: absolute;
width: 284px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


}

.txtEn{
/* Button */


position: absolute;
width: 284px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

}

.adv{
/* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;


position: absolute;
width: 250px;
height: 25px;
left: 40px;
top: 500px;

}

.bi bi-exclamation-circle-fill{

/* bi:exclamation-circle-fill */


position: absolute;
width: 16px;
height: 16px;




}

.txtI{
/* Solo letras minúsculas y sin acentos */


position: absolute;
width: 400px;
height: 25px;
left: 25px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;

/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;
}

.rect {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 688px;
height: 343px;
left: 40px;
top: 700px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

}

#muneco{
	/* Muñeco */

display: none;
}
#noencontrado{

display: flex;
flex-direction: column;
align-items: flex-start;


position: absolute;
width: 688px;
height: 133px;
left: 8%;
top: 700px;


/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;



}

.txtnoencontrado{
/* Ingresa el texto que desees encriptar o desencriptar. */


position: absolute;
width: 624px;
height: 24px;
left: 8%;
top: 45px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;

/* identical to box height, or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;
}

.txtingresatxt{
/* Ningún mensaje fue encontrado */


position: absolute;
width: 624px;
height: 29px;
left: 8%;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */


}

footer {
	
  background-color: #b4bfe7;
  position: absolute;
  height: 2%;
  bottom: 20px;
  width: 100%;
  color: white;
}

#frame3{
position: absolute;
width: 624px;
height: 180px;
left: 32px;
top: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


/* Gray/gray-400 */

color: #495057;


}

#btnC{



position: absolute;
width: 600px;
height: 60px;
left: 10%;
bottom: 10px;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */



}

.txtCo{


/* Button */


position: absolute;
width: 576px;
height: 25px;
top: 25%;



font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;




}

#txtA{
position: relative;
width: 688px;
height: 288px;
left: 40px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;

}
}/*fin tablet*/

@media only screen and (max-width: 400px) {
body {
/* Encriptador - 1 Celular */


position: relative;
width: 375px;
height: 933px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
}

#logo {

/* Top */


position: relative;
left: 1%;

top: 25%;


}

#txtIngreso {
/* Ingrese el texto aqui */


position: absolute;
width: 343px;
height: 48px;
left: 5%;
top: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
}


.btnBox{
//* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 343px;
height: 158px;
left: 16px;
top: 485px;


}

#btnE{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 343px;
height: 67px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;


}

#btnD{
/* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 343px;
height: 67px;
left: 0px;
top: 91px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

}

.txtDes{
/* Button */


position: static;
width: 295px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;	

}

.txtEn{

/* Button */


position: static;
width: 295px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;
}

.adv{
/* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 229px;
height: 18px;
left: 16px;
top: 451px;
}

.bi bi-exclamation-circle-fill{

/* bi:exclamation-circle-fill */


position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1px;


}

.txtI{
/* Solo letras minúsculas y sin acentos */


position: static;
width: 205px;
height: 18px;
left: 24px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;
}

.rect {
/* Frame 5 */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;


position: absolute;
width: 380px;
height: 350px;
top: 650px;
left:  5%;

/* White */

background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

#muneco{
	/* Muñeco */

display: none;
}


#noencontrado{

/* Frame 5 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;


position: absolute;
width: 327px;
height: 186px;
top: 650px;
left: 12%;
/* White */

background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

.txtnoencontrado{
/* Ingresa el texto que desees encriptar o desencriptar. */


position: static;
width: 263px;
height: 48px;
left: 0px;
top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.txtingresatxt{
/* Ningún mensaje fue encontrado */


position: static;
width: 263px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

footer {
	z-index: -1;
  background-color: #b4bfe7;
  position: absolute;
  bottom: -200px;
  width: 100%;
  color: white;
}

#frame3{

position: absolute;
width: 279px;
height: 432px;
left: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #495057;

}

#btnC{
z-index: 1;
/* Button */


/* Button */




position: absolute;
width: 279px;
height: 67px;
left: 32px;
bottom: 10px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */


}

.txtCo{


/* Button */


position: static;
width: 231px;
height: 19px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;



}

#txtA{
	position: absolute;
width: 343px;
height: 624px;
left: 8%;
top: 100px;

font-family: 'Inter';
font-style: normal;S
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


color: #0A3871;
}


}/*fin cel*/
